.vantagem-card{
    border: 2px solid;
    border-color: black !important;
    background-color: white;
    color: black;
    padding: 10px;
}
img{
    height: 250px;
    width:300px;
}
p{
    text-transform: capitalize;
}
h2{
    text-transform: uppercase;
    text-align: center;
}